.book-detail-info {
    width: 100%;
    height: 148.5px;
    background-color: #f3f3f3;
}

.book-cover {
    width: 90px;
    height: 121px;
}

.book-img {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: 14.5px 12.5px 0 12.5px;
}

.book-info {
    width: 67%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.book-title {
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 700;
    margin-top: 2px;
}

.book-author {
    font-size: 1.4rem;
    color: #666;
    margin-top: 6px;
}

.detail-button {
    width: 100%;
    padding: 14px 12.5px 0 12.5px;
    box-sizing: border-box;
}

.nav-back {
    display: inline-block;
    width: 9px;
    height: 15px;
    margin-left: 12.5px;
    margin-top: 14.5px;
    position: absolute;
    left: 0;
}

.nav-back img {
    width: 100%;
}

.book-synopsis {
    margin-top: 8px;
    padding: 0 12.5px;
}

.detail-book-synopsis {
    position: relative;
    width: 100%;
    max-height: 6rem; /* h*n */
    line-height: 1.5rem; /* h */
    overflow: hidden;
}

.detail-book-synopsis-container {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* n */
    font-size: 14px; /* w */
    color: transparent;
}

.detail-book-synopsis-content {
    color: #000;
    display: inline;
    vertical-align: top;
    font-size: 14px; /* f */
}

.book-detail-content {
    display: block;
    overflow: hidden;
}

.book-detail-catalog {
    width: 100%;
    height: 45px;
    border-top: 1px solid #f0f2f5;
    border-bottom: 1px solid #f0f2f5;
    margin-top: 18px;
}

.book-detail-catalog span {
    margin-left: 12.5px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    font-weight: 600;
}

.book-detail-catalog-a {
    width: 100%;
    height: 100%;
    display: block;
}

.book-detail-arrow {
    width: 6.5px;
    height: 12.5px;
    float: right;
    margin-right: 12.5px;
}

.book-detail-arrow img {
    width: 100%;
}

.book-detail-middle{
    width: 100%;
    height: 100%;
    display: block;
}

.book-detail-comment {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 12.5px;
    box-sizing: border-box;
    display: block;
    border-bottom: 1px solid #e7e7e7;
}

.book-detail-comment-header {
    line-height: 44px;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    font-weight: 600;
}

.book-detail-comment-number {
    font-size: 13px;
    color: #f05656;
    margin-left: 13.5px;
}
