html {
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
    font-size: 10px;
}

body {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Georgia, Palatino, serif;
}

body, p, span {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

div .nav-cont {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}

div .nav-cont .nav-text {
    margin: 0 auto;
    height: 45px;
    width: 95px;
    display: block;
    color: #2d2d2d;
    font-size: 20px;
    line-height: 45px;
}

.banner-div {
    height: 150px;
}

.banner-img {
    height: 100%;
}

.banner-div img {
    width: 100%;
}

nav {
    padding: .75em .625rem;
    height: 86px;
    justify-content: space-between;
    -webkit-box-pack: justify;
    box-pack: justify;
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
    overflow: hidden;
}

ul li {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-box-align: center;
    -ms-flex-pack: justify;
}

li a {
    display: block;
    text-decoration: none;
    color: #666;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
}

.arrow {
    width: 6.5px;
    height: 12.5px;
    float: right;
}

.arrow img {
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

.recommend-a {
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 2.5px 20.5px;
    background-position: 0 3.5px;
}

.book-info {
    width: 100%;
    position: relative;
    height: 100%;
}

ul li img {
    display: inline-block;
    border: none;
}

.author {
    font-size: 13px;
    color: #969ba3;
    display: inline-block;
}

.author-cont {
    display: inline-block;
    bottom: 0;
}

ul {
    display: inline-block;
    background-color: #fff;
}

.book-ul {
    width: 100%;
    height: 100%;
    padding: 0 12.5px;
    box-sizing: border-box;
}

.book-li {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #f0f2f5;
    display: list-item;
}

.book-li a {
    width: 100%;
    height: 100%;
    padding: 14px 0 14px 0;
    box-sizing: border-box;
}

.recommend-list-content ul {
    width: 100%;
}

.rank-ul {
    width: 100%;
    height: 100%;
    padding: 0 12.5px 0 12.5px;
    box-sizing: border-box;
}

.rank-list ul li {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #f0f2f5;
}

.book-name {
    line-height: 60px;
    display: inline-block;
    font-size: .9325rem;
    color: #404047;
    margin-left: 11px;
    font-weight: 600;
    vertical-align: top;
}

.book-author {
    font-size: 13px !important;
    color: #a6a6a6 !important;
    margin-left: 15.5px !important;
    line-height: 60px;
    vertical-align: top;
    display: inline-block;
}


.strong-list-a {
    display: block;
}

.story-title {
    font-size: .8325rem;
    color: #404046;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 4.25rem;
    margin: 0 auto;
}

.story-name {
    font-size: 13px;
    color: #a0a0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 4.25rem;
    margin: 0 auto;
}

.layout-flow-more {
    margin: 10px 0;
    text-align: center;
    color: #999;
    font-size: 14px;
}

.layout-flow-more a {
    height: 32px;
    line-height: 32px;
    display: inline-block;
}

.layout-flow-more a cite {
    padding: 0 20px;
    border-radius: 3px;
    background-color: #eee;
    color: #333;
    font-style: normal;
    display: inline-block;
}

.book-rand-a {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;
    height: 3rem;
    letter-spacing: 0.5px;
    color: #969ba3;
    margin-top: 8px;
}

.book-rand-content {
    color: #969ba3;
    display: inline;
    vertical-align: top;
}

.test-div {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 18px;
    position: relative;
    -webkit-animation: width-change 8s ease infinite;
}

.test-content {
    color:#000;
    display: inline;
    vertical-align: top;
}
