.img-a {
    width: 40px;
    height: 38px;
    margin: 5px auto;
}

.img-b {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: inline-block;
}

.img-d {
    width: 40px;
    height: 40.5px;
    margin: 5px auto;
}

.img-e {
    width: 40px;
    height: 33px;
    margin: 5px auto;
}

.div-a {
    height: 50px;
}

.icon-list.page {
    display: block;
    margin: 10px 0;
}

.icon-list .icon {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align: center;
}

.icon-list .icon-desc {
    text-align: center;
    font-size: .24rem;
    color: #666;
}

.text-a {
    font-size: 14px;
    margin-top: 5px;
}

.choice-recommend {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
}

.choice-recommend-title {
    height: 1.925rem;
    border-top: 1rem solid transparent;
    padding: 0 1rem;
}

.choice-recommend-title p {
    font-size: 18px;
    display: inline;
    color: #404047;
    font-weight: 700;
}

.choice-recommend-text {
    font-size: 18px;
    display: block;
    color: #404047;
    font-weight: 700;
}
